{% extends "base.html" %}
{% block content %}
    <div class="container mt-4 pt-5">
        <h3 class="text-center mb-5">Select Courses to take quiz!</h3>
        <div class="row row-content">
            {% if user.is_authenticated %}
            {% for course in courses %}
            <div class="col-lg mt-2">
            <a href="/{{course.id}}" class="btn btn-primary">{{course.course_name}}</a>
            </div>
            {% endfor %}
            {% else %}
            <h3 class="bg-danger text-center text-white shadow"> Please Log in or Sign in to get quizes available</h3>
            {% endif %}
        </div>
    </div>
{% endblock %}