{% extends "base.html" %}
{% block content %}


<div class="container mt-4">
<ul class="list-group">
    <li class="list-group-item bg-dark text-center text-white">Your Score</li>
    {% if score %}
    <table class="table table-bordered table-hover">
        <thead class="bg-info">
          <tr>
            <th scope="col">Course</th>
            <th scope="col">Score</th>
            <th scope="col">Attempt</th>
          </tr>
        </thead>
    {% for s in score %}
    <tbody>
        <tr>
            <td>{{s.course.course_name}}</td>
            <td>{{s.score}}</td>
            <td>{{ forloop.counter }}</td>
        </tr>
    </li>
    </tbody>
    {% endfor %}
    </table>
    <div class="text-center">
        <a class="btn btn-dark" href="/leaderboard">View Leaderboard</a>
    </div>
    {% else %}
    <li class="list-group-item">
        <div class="text-center">
    <p>You haven't given any exam yet!</p>
    <a class="btn btn-dark" href="/">Give Exam</a>
        </div>
    </li>
    {% endif %}
  </ul>
</div>

{% endblock %}